$Sarabun: 'Sarabun', sans-serif;

$white: #ffffff;
$black: #131B12;

$dark-grey: #4F524F;
$grey: #727272;
$pale-grey: #4A4E4A;
$light-grey: #BCC0C4;

$green: #378D19;
$light-green: #A6D838;
$pale-green: #8FB98E;

$pale-blue: #F1F2F6;

$shadow: #E1E4E9;


// container sizes
$xl: 1620px;
$l: 1180px;
$m: 668px;
$s: 311px;
