@import './constants.scss';

@mixin container($maxWidth: $xl) {
  margin: 0 auto;
  max-width: $maxWidth;
  width: 90%;
}

@mixin section-title($size: 52px, $lheight: 120%) {
  font-size: $size;
  font-weight: normal;
  line-height: $lheight;
  color: $black;
}

@mixin section-text($size: 20px, $lheight: 150%) {
  font-size: $size;
  line-height: $lheight;
  color: $dark-grey;
}

@mixin btn-text($color: #fff, $size: 20px, $lheight: 150%) {
  font-size: $size;
  line-height: $lheight;
  color: $color;
}

@mixin sliderSpacer($fz: 48px, $lheight: 150%) {
  font-size: $fz;
  line-height: $lheight;
  letter-spacing: 0.4em;
  color: $light-grey;
}
