@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.container {
    @include container;
    padding: 0 139px;
}

.order {
    padding: 216px 0 264px;

    .sectionTitle {
        @include section-title;
        margin-bottom: 76px;
    }

    .orderBlock {
        display: flex;
        align-items: center;
        
        .productImg {
            min-width: 647px;
            margin-right: 140px;
            flex-basis: 50%;

            .img {
                box-shadow: 0px 82px 50px -63px $silver;
            }
        }

        .productInfo {
            flex-basis: 50%;
            .name {
                max-width: 465px;
                @include section-title(36px, 130%);
                margin-bottom: 30px;
            }

            .description {
                max-width: 555px;
                @include section-text;
                letter-spacing: 0.015em;
                margin-bottom: 36px;
            }
        }
    }

    .orderForm {

        .prodColor {
            display: flex;
            align-items: center;
            margin-bottom: 34px;

            .legend {
                float: left;
                margin-right: 24px;
            }

            .color {
                display: flex;
                align-items: center;
                margin-right: 32px;
                position: relative;

                &:last-child { 
                    margin-right: 0;
                }

                .radio {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    transform: translate(-50%, -50%);
                }

                .fakeRadio {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin-right: 15px;
                    cursor: pointer;

                    position: relative;

                    &::before {
                        content: "";
                        display: none;
                        width: 43px;
                        height: 43px;
                        border: solid 2px $mat-silver;

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    
                    &.gold {
                        background-color: $gold;
                    }
                    &.silver {
                        background-color: $silver;
                    }
                    &.matSilver {
                        background-color: $mat-silver;
                    }
                    
                }

                .radio:checked + .fakeRadio::before {
                    display: block;
                }
            }
        }

        .prodSize {
            display: flex;
            align-items: center;
            margin-bottom: 36px;
            
            .legend {
                float: left;
                margin-right: 24px;
                
                &:last-child {
                    margin-right: 0;
                }
            }

            .size {
                margin-right: 24px;

                position: relative;

                &:last-child {
                    margin-right: 0;
                }

                .radio {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .fakeRadio {
                    @include section-text(18px, 150%);
                    color: $light-grey;
                    letter-spacing: 0.015em;
                    cursor: pointer;
                }

                .radio:checked + .fakeRadio {
                    color: $dark-grey;
                }
            }
        }

        .types {
            display: flex;
            margin-bottom: 30px;
        }

        .type {
            display: inline-flex;
            flex-basis: 165px;
            align-items: center;
            margin-right: 47px;
            color: $light-grey;
            cursor: pointer;
            position: relative;

            &:last-child {
                margin-right: 0;
            }

            .radio {
                position: absolute;
                appearance: none;
            }

            .fakeRadio {
                display: inline-block;
                width: 28px;
                height: 28px;
                margin-right: 10px;
                border: solid 1px $light-grey;
                
                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            .radio:checked +.fakeRadio {
                border: solid 2px $pale-green;

                &::before {
                    background-image: url('../../assets/btn/check.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }

                & + .text {
                    color: $dark-grey;
                }
            }
        }

        .options {
            margin-bottom: 68px;
            
            .option {
                display: inline-flex;
                align-items: center;
                color: $light-grey;
                cursor: pointer;
                position: relative;

                &:first-child {
                    margin-right: 47px;
                }
    
                .checkbox {
                    appearance: none;
                    position: absolute;
                }
    
                .fakeCheckbox {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    border: solid 1px $mat-silver;
                    margin-right: 10px;
                    position: relative;

                    &::before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }

                .checkbox:checked + .fakeCheckbox {
                    border: solid 2px $pale-green;

                    &::before {
                        background-image: url('../../assets/btn/check.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }

                    & + .text {
                        color: $dark-grey;
                    }
                }
            }
        }

        .actionBlock {
            display: flex;
            align-items: center;

            .price {
                margin-right: 139px;
                @include section-text(36px, 150%);
                letter-spacing: 0.025em;
                color: $black;
            }
    
            .submitBtn {
                padding: 0;
                border: none;
                background-color: transparent;
                @include btn-text(#0C1E0C);
                font-family: inherit;
                letter-spacing: 0.15em;
                position: relative;
                cursor: pointer;

                &::before {
                    content: "";
                    display: block;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    background-color: $light-green;
                    position: absolute;
                    top: -45px;
                    left: -41px;
                    z-index: -1;
                }
            }    
        }
    }
}

@media (max-width: 1360px) {
    .container {
        @include container($l);
        padding: 0 87px;
    }

    .order {
        padding: 174px 0 232px;

        .sectionTitle {
            @include section-title(44px, 130%);
            margin-bottom: 50px;
        }

        .orderBlock {
            .productImg {
                min-width: 487px;
                margin-right: 101px;        
            }

            .productInfo {
                .name {
                    @include section-title(32px, 130%);
                    margin-bottom: 20px;
                    max-width: 415px;
                }

                .description {
                    @include section-text(18px, 150%);
                    margin-bottom: 50px;
                    max-width: 418px;
                }

                .price {
                    margin-right: 100px;
                    @include section-text(32px);
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .container {
        @include container($m);
        padding: 0 87px;
    }

    .order {
        padding: 184px 0 150px;

        .sectionTitle {
            text-align: center;
        }

        .orderBlock {
            flex-direction: column;
            align-items: flex-start;

            .productImg {
                min-width: 493px;
                margin: 0 0 132px;        
            }

            .productInfo {
                .price {
                    margin-right: 164px;
                }
            }
        }
    }
}
