@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.btn {
  @include btn-text($green);
  font-weight: 600;
  letter-spacing: 0.15em;

  display: inline-flex;
  align-items: center;
  text-decoration: none;

  position: relative;
  
  &::before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    border: solid 1px $green;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -54px;

    transition: right .7s ease .2s;
  }

  &::after {
    content: "";
    display: block;
    width: 67px;
    height: 1px;
    background-color: $green;
    position: absolute;
    top: 16.5px;
    right: -104px;

    transition: right .7s ease;
  }

  &:hover {
    &::after {
      right: -120px;
    }
    &::before {
      right: -70px;
    }
  }
}

.white {
  color: $white;

  &::before {
    border-color: $white;
  }

  &::after {
    background-color: $white;
  }
}