@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.btn {
  @include btn-text($green);
  font-weight: 600;
  letter-spacing: 0.15em;

  display: inline-flex;
  align-items: center;
  text-decoration: none;
  
  .btnImg {
    margin-left: 20px;
    color: $white;
  }
}

.white {
  color: $white;
}