@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.container {
  @include container;
  position: relative;
}

/*
  * Introduction section
*/
.introduction {
  padding: 270px 0 258px;
  background-image: url('../../assets//main-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .title {
    @include section-title(64px, 130%);
    max-width: 770px;
    margin-bottom: 28px;
  }

  .subtitle {
    @include section-text;
    max-width: 786px;
    letter-spacing: 0.015em;
    margin-bottom: 113px;
  }

  .actionBlock {
    padding-left: 41px;
  }

  .sidebar {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    .link {
      margin-bottom: 40px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

/*
  * Advantages section
*/
.advantages {
  padding: 107px 0 100px;
  
  .sectionTitle {
    visibility: hidden;
    height: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .advantageItem {
    margin-right: 108px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    .advantage {
      width: 90px;
    }

    .caption {
      margin: 31px 0 2px;
      @include section-text(28px, 150%);
      letter-spacing: 0.02em;
    }
    .description {
      @include section-text(20px, 150%);
      letter-spacing: 0.015em;
      color: $grey;
    }
  }
}

/*
  * History section
*/
.history {
  padding: 130px 0;
  background-color: $pale-blue;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sectionImg {
    margin-right: 139px;

    .scissorsImg {
      box-shadow: 0px 72px 40px -42px $silver;
    }
  }

  .textWrapper {
    max-width: 556px;

    .sectionTitle {
      width: 70%;
      @include section-title;
      margin-bottom: 30px;
    }

    .sectionText {
      @include section-text;
      letter-spacing: 0.015em;
      margin-bottom: 54px;
    }  
  }
}

/*
  * Feature section
*/
.feature {
  padding: 130px 0;

  .container {
    padding: 0 139px;
  }

  .textWrapper {
    max-width: 785px;
    margin-bottom: 71px;

    .sectionTitle {
      @include section-title;
      margin-bottom: 30px;
    }
    
    .sectionText {
      @include section-text;
      margin-bottom: 57px;
      letter-spacing: 0.015em;
    }  
  }

  .sectionImg {
    margin: 50px 0;
  }
}

/*
  * Inspiration section (slider)
*/
.inspiration {
  padding: 130px 0 260px;

  .container {
    padding: 0 139px;
    display: flex;
    flex-direction: column;
  }

  .sectionTitle {
    @include section-title;
    margin-bottom: 50px;
  }

  .btnWrapper {
    text-align: right;
    margin-right: 101px;
  }
}

/*
  * Media query 1360
*/
@media (max-width: 1360px) {
  .container {
    @include container($l)
  }

  .introduction {
    padding: 266px 0 231px;

    .title {
      @include section-title(52px, 140%);
      max-width: 667px;
    }

    .subtitle {
      margin-bottom: 73px;
    }
  }

  .advantages {
    padding: 100px 0 100px;

    .advantageItem {
      .advantage {
        width: 70px;
      }

      .caption {
        margin: 18px 0 8px;
        @include section-text(20px, 150%);
        letter-spacing: 0.025em;
      }

      .description {
        @include section-text(16px, 150%);
      }
    }
  }

  .history {
    padding: 100px 0;

    .sectionImg {
      width: 404px;
      margin-right: 101px;
    }

    .textWrapper {
      max-width: 404px;
  
      .sectionTitle {
        width: 80%;
        @include section-title(44px, 130%);
        margin-bottom: 24px;
      }
  
      .sectionText {
        @include section-text(18px);
        margin-bottom: 57px;
      }  
    }
  }

  .feature {
    padding: 100px 0;

    .container {
      padding: 0 101px;
    }
    
    .textWrapper {
      max-width: 571px;
      margin-bottom: 90px;
  
      .sectionTitle {
        @include section-title(44px, 130%);
        margin-bottom: 24px;
      }
      
      .sectionText {
        @include section-text(18px, 150%);
        margin-bottom: 57px;
      }  
    }

    .sectionImg {
      margin: 24px 0;
      width: 996px;
    }
  }

  .inspiration {
    padding: 100px 0;

    .container {
      padding: 0 94px;
    }

    .sectionTitle {
      @include section-title(44px, 130%);
    }
  }
}

/*
  * Media query 768
*/
@media (max-width: 768px) {
  .container {
    @include container($m)
  }

  .introduction {
    padding: 263px 0 177px;
    background-position: center right 35%;

    .sidebar {
      display: none;
    }
  }

  .advantages {

    .wrapper {
      flex-wrap: wrap;
    }

    .advantageItem {
      
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 50%;
      margin-right: 0;

      &:first-child {
        margin-bottom: 60px;
      }

      .caption {
        margin-bottom: 6px;
      }

      .description {
        @include section-text(14px, 150%);
      }
    }
  }

  .history {
    padding: 100px 0;

    .container {
      flex-direction: column-reverse;
    }

    .sectionImg {
      width: 492px;
      margin-right: 0;
    }
  

    .textWrapper {
      max-width: 557px;
      margin-bottom: 80px;
  
      .sectionTitle {
        width: 100%;
        @include section-title(44px, 130%);
        margin-bottom: 24px;
      }
  
      .sectionText {
        @include section-text(18px);
        margin-bottom: 54px;
      }  
    }
  }

  .feature {
    padding: 100px 0;

    .container {
      padding: 0;
    }

    .textWrapper {
      padding: 0 50px;
    }

    .sectionImg {
      margin: 20px 0;
      width: 683px;
    }
  }

  .inspiration {
    padding: 100px 0;

    .container {
      padding: 0;
    }

    .sectionTitle {
      @include section-title(44px, 130%);
    }
  }
}
