@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.container {
  @include container;
  position: relative;
}

.introduction {
  padding-top: 312px;
  background-image: url('../../assets//main-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .title {
    @include section-title(64px, 90px);
    max-width: 770px;
    margin-bottom: 115px;
  }

  .actionBlock {
    padding-left: 41px;
  }

  .sidebar {
    position: absolute;
    right: 0;
    bottom: 333px;

    .link {
      margin-bottom: 40px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.advantages {
  padding: 140px 0;
  
  .sectionTitle {
    visibility: hidden;
    height: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .advantageItem {
    margin-right: 142px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
    .caption {
      margin: 24px 0 8px;
      @include section-text(24px, 36px);
      letter-spacing: 0.025em;
    }
    .description {
      @include section-text(18px, 27px);
      letter-spacing: 0.015em;
      color: $grey;
    }
  }
}

.history {
  padding: 140px 0;
  background-color: $pale-blue;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sectionImg {
    margin-right: 139px;

    .scissorsImg {
      box-shadow: 0px 72px 40px -42px $shadow;
    }
  }

  .textWrapper {
    max-width: 515px;
    margin-bottom: 64px;

    .sectionTitle {
      @include section-title;
      margin-bottom: 34px;
    }

    .sectionText {
      @include section-text;
      letter-spacing: 0.015;
    }  
  }
}