@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.btn {
  text-decoration: none;
  display: inline-block;
  @include btn-text($grey);
  font-weight: 600;
  letter-spacing: 0.15em;

  position: relative;
  z-index: 1;

  &:last-child {
    margin-left: 64px;
  }

  &::before {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $light-green;
    position: absolute;
    top: -45px;
    left: -41px;
    z-index: -1;

    transform-origin: 45 45;
    transform: scale(0);

    transition: transform .7s ease;
  }

  &.active {
    color: $black;
    &::before {
      transform: scale(1);
    }
  }

  &.submit {
    background-color: transparent;
    font-family: inherit;
    color: $black;
    cursor: pointer;

    &::before {
      transform: none;
    }
    
    &:last-child {
      margin-bottom: 139px;
    }
  }
}