@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.layout {
  padding-top: 268px;
  width: 100%;
  text-align: center;
  background-color: hsla(120, 2%, 32%, 0.5);
  position: absolute;
  top: 0;
  left: 0;

  .modal {
    display: inline-block;
    padding-top: 106px;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;

    .modalTitle {
      @include section-title(36px, 48px);
      margin-bottom: 52px;
    }

    .closeBtn {
      width: 42px;
      height: 42px;
      background-color: transparent;
      background-image: url('../../assets/btn/cross.svg');
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      position: absolute;
      top: 24px;
      right: 24px;
    }
  }

  .thanks {
    padding: 343px 0 208px;
    max-width: 1063px;
    background-image: url('../../assets/scissors3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-shadow: 5px 15px 20px rgba(94, 102, 102, 0.36);

    .modalTitle {
      margin: 0 296px;
      @include section-title(36px, 47px);
      font-weight: 600;
      color: $white;
      margin-bottom: 14px;
    }
  }
}