@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.header {
  padding-top: 48px;
  width: 100%;
  
  // height required for animation
  height: 158px;
  
  background-color: transparent;
  font-family: $Sarabun;

  overflow: hidden;
  transition: height .5s ease, background-color .5s ease;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  .container {
    @include container;
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: auto;
  }

  .listItem {
    &:last-child {
      margin-top: 2px;
    }

    .phone {
      @include btn-text();
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 0.05em;
    }
  }  

  .burgerMenu {
    border: none;
    background-color: transparent;
    margin-left: 82px;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 38px;
      height: 3px;
      border-radius: 2px;
      background-color: #fff;
      transition: transform .3s ease;
    }

    &::after {
      content: "";
      display: block;
      width: 38px;
      height: 3px;
      border-radius: 2px;
      background-color: #fff;
      transition: transform .3s ease;
    }

    .middleLine {
      pointer-events: none;
      
      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        margin: 8px 0;
        border-radius: 2px;
        background: white;
        transition: width 0.2s ease;
      }
    }

    &.open {
      &::before {
        transform: translateY(11px) rotate(45deg);
      }

      &::after {
        transform: translateY(-11px) rotate(-45deg);
      }
      
      .middleLine::before {
        width: 0; 
      }
    }
  }

  &.menuOpen {
    background-color: $white;
    height: 100vh;

    .listItem {
      visibility: hidden;
    }
    
    .burgerMenu {
      &::before, &::after, .middleLine::before {
        background-color: black
      }
    }
  }

  &.dark {
    .phone {
      @include btn-text($dark-grey);
    }

    .burgerMenu {
      &::before,
      &::after {
        background-color: $dark-grey;
      }
    }

    .middleLine::before {
      background-color: $dark-grey;
    }
  }
}

@media (max-width: 1360px) {
  .header {
    padding-top: 26px;

    .container {
      @include container($l);
    }

    .logo {
      width: 101px;
    }

    .listItem {
      .phone {
        @include btn-text(#fff, 18px, 150%);
      }
    }

    .burgerMenu {
      margin-left: 125px;

      &:before,
      &:after {
        width: 32px;
      }

      .middleLine:before {
        width: 25px;
      }
    }

    &.dark {
      .phone {
        @include btn-text($dark-grey);
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .container {
      @include container($m);
    }

    .contactList {
      .phone {
        @include btn-text($dark-grey, 18px);
      }  
    }

    .burgerMenu {
      margin-left: 85px;
    }
  }
}

@media (max-width: 375px) {
  .header {
    padding-top: 28px;

    .container {
      @include container($s);

    }

    .logo {
      width: 72px;
    }

    .contactList {
      display: none;
    }

    .burgerMenu {
      &:before,
      &:after {
        width: 28px;
      }

      .middleLine:before {
        width: 22px;
      }
    }
  }
}