@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.header {
  padding-top: 48px;
  width: 100%;
  height: 158px;
  
  background-color: transparent;
  font-family: $Sarabun;

  overflow: hidden;
  transition: height .5s ease, background-color .5s ease;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  .container {
    @include container;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: auto;
  }

  .listItem {
    &:last-child {
      margin-top: 2px;
    }

    .phone {
      @include btn-text(#fff);
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 0.05em;
    }
  }  

  .burgerMenu {
    border: none;
    background-color: transparent;
    margin-left: 79px;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 38px;
      height: 3px;
      border-radius: 2px;
      background-color: #fff;
      transition: transform .3s ease;
    }

    &::after {
      content: "";
      display: block;
      width: 38px;
      height: 3px;
      border-radius: 2px;
      background-color: #fff;
      transition: transform .3s ease;
    }

    .middleLine {
      pointer-events: none;
      
      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        margin: 8px 0;
        border-radius: 2px;
        background: white;
        transition: width 0.2s ease;
      }
    }

    &.open {
      &::before {
        transform: translateY(11px) rotate(45deg);
      }

      &::after {
        transform: translateY(-11px) rotate(-45deg);
      }
      
      .middleLine::before {
        width: 0; 
      }
    }
  }

  &.menuOpen {
    background-color: $white;
    height: 100vh;

    .listItem {
      visibility: hidden;
    }
    
    .burgerMenu {
      &::before, &::after, .middleLine::before {
        background-color: black
      }
    }
  }
}