@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.container {
    @include container;
    padding: 0 139px;
}

.footer {
    padding: 140px 0 50px;
    position: relative;

    &::before {
        content: "";
        background-color: $shadow;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 100px;
    }    

    .content {
        display: flex;
        align-items: center;
        margin-bottom: 90px;

        .logo {
            margin-right: 138px;
        }

        .navigation {
            margin-right: 220px;
        }

        .navList {
            columns: 2;
            
            .listItem:nth-child(odd) {
                margin-bottom: 9px;
            }

            .listItem:nth-child(1) {
                margin-right: 112px;
            }

            .itemLink {
                text-decoration: none;
                @include btn-text($dark-grey, 18px, 27px);
                font-family: $Sarabun;
            }
        }

        .contacts {
            display: flex;

            .time {
                margin-right: 66px;
                @include section-text(18px, 27px);
                font-family: $Sarabun;
                letter-spacing: -0.03em;

                .text:nth-child(2) {
                    margin-top: 9px;
                    letter-spacing: 0.05em;
                }
            }

            .phones {
                position: relative;

                &::before {
                    content: "";
                    width: 2px;
                    height: 100%;
                    background-color: $shadow;
                    transform-origin: 0 0;
                    position: absolute;
                    top: 0;
                    left: -28px;
                }
            }

            .phone {
                display: block;
                text-decoration: none;
                @include section-text(18px, 27px);
                font-weight: 500;
                font-family: $Sarabun;
                letter-spacing: 0.05em;
                position: relative;

                &:first-child {
                    margin-bottom: 9px;
                }
            }

        }
    }

    .legal {
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        @include section-text(16px, 24px);
        font-family: $Sarabun;
        color: $grey;

        .caption {
          color: $light-grey;
        }
    }
}