@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.listItem {
    margin-bottom: 46px;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 46px;
        background-color: $light-grey;
    }

    .questionHeader {
        display: flex;
        justify-content: space-between;

        .question {
            @include section-title(28px, 130%);

            font-weight: 600;
            margin-bottom: 18px;
        }    
    }

    .answer {
        @include section-text;

        letter-spacing: 0.015em;
        max-width: 707px;
        max-height: 0;
        overflow-y: hidden;

        transition: max-height .6s ease;   
    }

    .openAnswerBtn {
        width: 38px;
        height: 38px;
        opacity: 0.54;
        border: solid 2px #6D6E6F;
        background: transparent;
        position: relative;
        cursor: pointer;

        transition: border-color .2s ease;
    
        &::before {
          content: "";
          display: block;
          width: 22px;
          height: 3px;
          background-color: #6D6E6F;
          position: absolute;
          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);
        }
    
        &::after {
          content: "";
          display: block;
          width: 22px;
          height: 3px;
          background-color: #6D6E6F;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-90deg);
    
          transition: transform .2s ease, background-color .2s ease;
        }
    }

    .warningMessage {
      display: none;

      &.show {
        display: block;
      }
    }

    &.open {

      .openAnswerBtn {
        border-color: $green;
      }

      .openAnswerBtn::after {
        background-color: $green;
        transform: rotate(0deg) translate(-50%, -50%);
      }

      .answer {
        max-height: 115px;
        transition: max-height 1s ease;
      }
    }    
}