@import '../../sass/constants.scss';
@import '../../sass/mixins.scss';

.container {
    @include container;
    padding: 0 139px;
}

.contacts {
    padding: 170px 0;
    background-image: url('../../assets/contacts_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .sectionTitle {
        @include section-title;
        font-weight: 600;
        color: $white;
        margin-bottom: 18px;
    }
    
    .sectionText {
        max-width: 574px;
        @include section-text;
        letter-spacing: 0.015em;
        color: $white;
        margin-bottom: 34px;
    }

    .social {
        display: flex;

        .item {
            margin-right: 26px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}