@import '../../sass/mixins.scss';

.sliderPrev,
.sliderNext {
  width: 62px;
  height: 62px;
  border: none;
  background: #131B12;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.sliderPrev {
  background-image: url('../../assets/btn/arrow_left.svg');
  left: -31px;

}
.sliderNext {
  background-image: url('../../assets/btn/arrow_right.svg');
  right: -31px;
}
.active {
  opacity: 0.5;
  transition: opacity .6s ease;
}

.sliderWrapper {
  position: relative;
  margin-bottom: 57px;

  .spacerText {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 100%;
    background-color: $white;

    @include sliderSpacer;
    writing-mode: vertical-rl;
  
    position: absolute;
    top: 0;
    left: 50%;

    transform: rotate(180deg) translateX(50%);
  
    z-index: 2;
  }
}

@media (max-width: 1750px) {
  .sliderWrapper {

    .spacerText {
      @include sliderSpacer(40px);
      width: 170px;
    }
  }
}

@media (max-width: 768px) {
  .sliderWrapper {

    .spacerText {
      display: none;
    }
  }
}
